.section1 {
    background-image: url("");
}
.section2 {
    background-image: url("");
}
.section3 {
    background-image: url("");
}
.section4 {
    background-image: url("");
}
.section5 {
    background-image: url("");
}
.section6 {
    background-image: url("");
}
.section7 {
    background-image: url("");
}